@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	background-color: #f6f5f5;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: blanchedalmond;
}
section {
	width: 100%;
	height: 95vh;
	background-image: url(./images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	height: 60px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, .5);
	padding: 0 5%;
}

nav ul {
	display: flex;
}

nav .nav-bar {
	display: flex;
	position: absolute;
	right: 8%;
}
nav ul li a {
	margin: 30px;
	font-size: 15px;
	font-family: Calibri;
	color: #505050;
	font-weight: 700;
}

nav img {
	width: 18px;
}

.logo {
	font-size: 22px;
	font-family: Pacifico;
	color: #000000;
}
.active {
	font-size: 16px;
	font-weight: bold;
	color: #2d2a2a;
}

.text-container p:nth-child(1) {
	font-size: 22px;
	font-weight: bold;
	font-family: calibri;
	color: #6d6d6d;
	background-color: linear-gradient(red, yellow);
}

.text-container p:nth-child(2) {
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: calibri;
	color: #6d6d6d;
	line-height: 30px;
	background: linear-gradient(white, #403e3e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-container p:nth-child(3) {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #403e3e;
}

.text-container p {
	line-height: 0px;
	margin: 45px 0 25px;
}
.text-container {
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-40%, -20%);
}

.text-container button {
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}

.learn {
	cursor: pointer;
	border: none;
	border: 1px solid #373636;
	color: #373636;
}
.More {
	background-color: #0b0b0b;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
button:active {
	transform: scale(1.1);
}

.model {
	height: 450px;
	position: absolute;
	bottom: 10%;
	left: 50%;
}

.about-container {
	width: 80%;
	height: 350px;
	background: white;
	display: flex;
	margin: -8% auto 20px auto;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 25px;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.about-container img {
	height: 320px;
}

.text-about p {
	width: 450px;
	padding: 0px 0px 0px 20px;
}
.text-about p:nth-child(1) {
	font-size: 22px;
	font-weight: bold;
	font-family: calibri;
	color: slategray;
	line-height: 0px;
}
.text-about p:nth-child(2) {
	font-size: 12px;
	font-weight: bold;
	font-family: calibri;
	color: rgb(50, 63, 77);
	line-height: 0px;
}
.text-about p:nth-child(3) {
	font-size: 14px;
	font-weight: bold;
	font-family: calibri;
	color: rgba(10, 10, 10, 0.555);
	line-height: 13px;
}

.text-about p:nth-child(4) {
	font-size: 14px;
	font-weight: bold;
	font-family: calibri;
	color: rgba(10, 10, 10, 0.555);
	line-height: 13px;
}

.text-about .button {
	margin: 0px 0px 0px 20px;
}

.text-about button {
	width: 100px;
	height: 30px;
	font-size: 11px;
	font-family: Calibri;
	font-weight: bold;
	color: white;
	background-color: black;
	border-radius: 4px;
	border: none;
	outline: none;
}
.text-about .button2 {
	margin: 0 15px;
}
.text-about .button1:hover {
	background: white;
	border: 2px solid black;
	color: black;
	border-radius: 8px;
}
.text-about .button2:hover {
	background: white;
	border: 2px solid black;
	color: black;
	border-radius: 8px;
}
.button1 {
	cursor: pointer;
}

.button2 {
	cursor: pointer;
}

.servises-container {
	height: 650px;
	background: #ffffff;
	padding: 2% 10% 0px 15%;
}

.servises-test p:nth-child(1) {
	font-size: 30px;
	font-family: Calibri;
	font-weight: bold;
	color: #3e3d3d;
	line-height: 0px;
}

.servises-test p:nth-child(2) {
	font-size: 12px;
	font-family: Calibri;
	font-weight: bold;
	color: rgb(50, 63, 77);
	line-height: 5px;
}

.servises-test p:nth-child(3) {
	font-size: 18px;
	font-family: Calibri;
	font-weight: bold;
	color: rgba(10, 10, 10, 0.555);
	line-height: 18px;
}

.servises-test {
	width: 600px;
	margin: 70px 0px;
}

.box-1,
.box-2,
.box-3 {
	width: 300px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box-container {
	display: flex;
	justify-content: space-between;
}

.box-1 {
	background-image: url(./images/services-1.png);
}
.box-2 {
	background-image: url(./images/services-2.png);
}

.box-3 {
	background-image: url(./images/services-3.png);
}

.box-1 span,
.box-2 span,
.box-3 span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	font-weight: bold;
	font-family: Calibri;
	justify-content: center;
	align-items: center;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
	font-family: Calibri;
	font-weight: bold;
	line-height: 0px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
	font-family: Calibri;
	font-weight: bold;
	line-height: 15px;
	color: #8f8f8f;
	text-align: center;
	margin: 0px 0px 22px 0px;
	font-size: 12px;
}

.box-1 button,
.box-2 button,
.box-3 button {
	width: 100px;
	height: 30px;
	font-size: 11px;
	font-family: Calibri;
	font-weight: bold;
	outline: none;
	border: 2px solid white;
	color: whitesmoke;
	border-radius: 11px;
	background: transparent;
}

.box-1 button:hover,
.box-2 button:hover,
.box-3 button:hover {
	border: none;
	border-radius: 11px;
	background: red;
	color: white;
}
.contact-me {
	width: 100%;
	height: 280px;
	background-image: url(./images/12.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-me p {
	color: #ffffff;
	font-size: 30px;
	font-family: Calibri;
	font-weight: bold;
	border-bottom: 3px solid #ffffff;
	margin: 18px 0px;
}

.contact-me button {
	width: 200px;
	height: 40px;
	background: #ffffff;
	border: none;
	outline: none;
	font-size: 15px;
	font-family: Calibri;
	border-radius: 2px;
}

footer {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer p {
	font-family: Calibri;
}
footer p:nth-child(1) {
	font-size: 30px;
	color: #191919;
	font-weight: bold;
	line-height: 10px;
}
footer p:nth-child(2) {
	font-size: 16px;
	color: #7e7d7d;
	width: 600px;
	text-align: center;
}
.social-icons a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #e6e3e3;
	margin: 20px 10px;
}
.social-icons {
	display: flex;
}
.social-icons i {
	color: #000000;
}

.social-icons a:hover {
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i {
	color: #ffffff;
	transition: all ease 0.5s;
}
.copyright {
	color: #565555;
	font-size: 12px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
